
<ul class="my-5 text-center" style="align-items:center;">
  <% @restaurants.each do |restaurant| %>
    <li class="card my-5 p-5 rounded shadow" style="width: 30%;">

      <h2>
        <%= restaurant.name %>
      </h2>

      <%= restaurant.category %>

      <%= link_to "See details", restaurant_path(restaurant), class: "btn btn-primary my-3", style: "align-items:center;width:100px;align-self:center"%>

    </li>
  <% end %>
</ul>
<%= link_to "Add a restaurant", new_restaurant_path, class: "btn btn-warning"%>
