
<h1>Restaurants</h1>

<ul class="my-5 text-center align-c">
  <% @restaurants.each do |restaurant| %>
    <li class="card my-5 p-5" style="width: 40%">

      <h2>
        <%= restaurant.name %>
      </h2>

      <%= restaurant.category %>

      <%= link_to "See details", restaurant_path(restaurant), class: "btn btn-primary"%>

    </li>
  <% end %>
</ul>
<%= link_to "Add a restaurant", new_restaurant_path, class: "btn btn-warning"%>
